<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>迪乐美</title>
		<link rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" href="css/iconfont.css">
		<link rel="stylesheet" href="css/spike.css">
	</head>
	<body>
		
		
		
			<!--顶部-->
			<div id="top">
					<div class="margin">
							<div class="left">
									<b class="iconfont icon-official-website"></b>
									<span>官方网站</span>
									<b class="iconfont icon-shequ1"></b>
									<span>翔迷社区</span>
							</div>
							<div class="right">
									<!--<b class="iconfont icon-huiyuandenglu"></b>
									<span class="loginer">登录</span>
									<b class="iconfont icon-zhuce"></b>
									<span class="register">注册</span>
									<b class="iconfont icon-gouwuche"></b>
									<span class="car">购物车</span>-->
							</div>
					</div>
			</div>
			
			
			
			
			<!--头部-->
			<div id="header">
					<div class="margin">
							<div class="header_t">
									<div class="header_m">
											<div class="header_m_l">
													<img src="http://store.dynam-rc.cn.img.800cdn.com/Public/zh-cn/images/Flyfanlogo.png">
													<img src="http://store.dynam-rc.cn.img.800cdn.com/Public/zh-cn/images/xmsc.png">
											</div>
											<div class="header_m_r">
													<form>
															<input type="text" name="" id="txt" value="" placeholder="请输入商品名称"/>
															<input type="button" name="" id="btn" value="" />
													</form>
											</div>
									</div>
							</div>
							<div class="header_b">
									<!--<div class="menu">-->
											<ul class="menu1">
													<li>
														<a href="index.html">首页</a>
													</li>
													<li>
														<a href="#">固定翼</a>
														<ul class="menu2">
																<li>
																	<a href="#">遥控飞机</a>
																	<ul class="menu3">
																			<li><a href="#">初学者</a></li>
																			<li><a href="#">公园飞</a></li>
																			<li><a href="#">战斗机</a></li>
																			<li><a href="#">滑翔机</a></li>
																			<li><a href="#">像真机</a></li>
																			<li><a href="#">水上飞机</a></li>
																	</ul>
																</li>
																<li>
																	<a href="#">FPV飞机</a>
																	<ul class="menu3">
																			<li><a href="#">Hawksky FPV</a></li>
																			<li><a href="#">公园飞</a></li>
																			<li><a href="#">战斗机</a></li>
																	</ul>
																</li>
																<li><a href="#">收放起落架</a></li>
																<li>
																	<a href="#">螺旋桨</a>
																	<ul class="menu3">
																			<li><a href="#">飞机碳纤桨</a></li>
																			<li><a href="#">尼龙桨-2叶</a></li>
																			<li><a href="#">尼龙桨-3叶</a></li>
																			<li><a href="#">尼龙桨-4叶</a></li>
																	</ul>
																</li>
																<li><a href="#">固定翼增稳仪</a></li>
														</ul>
													</li>
													<li>
														<a href="#">多旋翼无人机</a>
														<ul class="menu2">
																<li>
																	<a href="#">竞速无人机</a>
																	<ul class="menu3">
																		<li><a href="#">TomBee 250</a></li>
																		<li><a href="#">TomBee 150</a></li>
																	</ul>
																</li>
																<li>
																	<a href="#">多轴无人机</a>
																	<ul class="menu3">
																		<li><a href="#">Wiking 唯景</a></li>
																	</ul>
																</li>
																<li><a href="#">无人机碳纤旋翼</a></li>
														</ul>
													</li>
													<li>
														<a href="#">电子系统</a>
														<ul class="menu2">
															<li>
																<a href="#">遥控系统</a>
																<ul class="menu3">
																		<li><a href="#">GAVIN</a></li>
																		<li><a href="#">Blitz</a></li>
																		<li><a href="#">2.4G接收机</a></li>
																		<li><a href="#">增稳接收机</a></li>
																		<li><a href="#">舵机</a></li>
																		<li><a href="#">飞行模拟器</a></li>
																		<li><a href="#">遥控配件</a></li>
																</ul>
															</li>
															<li>
																<a href="#">飞行控制器</a>
																<ul class="menu3">
																		<li><a href="#">固定翼飞控</a></li>
																		<li><a href="#">多旋翼飞控</a></li>
																		<li><a href="#">穿越机飞控</a></li>
																		<li><a href="#">固定翼增稳仪</a></li>
																		<li><a href="#">直升机陀螺仪</a></li>
																</ul>
															</li>
															<li>
																<a href="#">图像传输</a>
																<ul class="menu3">
																		<li><a href="#">WIFI 图传</a></li>
																		<li><a href="#">5.8G 图传</a></li>
																</ul>
															</li>
															<li>
																<a href="#">运动相机</a>
																<ul class="menu3">
																		<li><a href="#">WIFI 图传</a></li>
																		<li><a href="#">5.8G 图传</a></li>
																</ul>
															</li>
															<li><a href="#">FPV相机</a></li>
															<li><a href="#">D-Cam</a></li>
														</ul>
													</li>
													<li>
														<a href="#">无刷马达</a>
														<ul class="menu2">
															<li>
																<a href="#">固定翼马达</a>
																<ul class="menu3">
																	<li><a href="#">Park系列</a></li>
																	<li><a href="#">油动系列</a></li>
																	<li><a href="#">汽油系列</a></li>
																	<li><a href="#">顶翔马达</a></li>
																</ul>
															</li>
															<li>
																<a href="#">车用马达</a>
																<ul class="menu3">
																	<li><a href="#">1 : 5</a></li>
																	<li><a href="#">1 : 8</a></li>
																	<li><a href="#">1 : 10</a></li>
																	<li><a href="#">1 : 16</a></li>
																</ul>
															</li>
															<li><a href="#">穿越机马达</a></li>
															<li><a href="#">无人机马达</a></li>
															<li><a href="#">船用马达</a></li>
															<li>
																<a href="#">马达配件</a>
																<ul class="menu3">
																	<li><a href="#">熊猫马达轴心</a></li>
																	<li><a href="#">熊猫马达轴承</a></li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<a href="#">电子调速</a>
														<ul class="menu2">
															<li>固定翼天霸系列</li>
															<li>天霸高端系列</li>
															<li>天梭无人机系列</li>
															<li>天梭无人机高压电调</li>
															<li>穿越机电调</li>
															<li>车用火山系列</li>
															<li>编程卡</li>
														</ul>
													</li>
													<li>
														<a href="#">配件组合</a>
														<ul class="menu2">
															<li><a href="#">其它</a></li>
															<li>
																<a href="#">碳纤旋翼</a>
																<ul class="menu3">
																	<li><a href="#">直升机碳纤主桨</a></li>
																	<li><a href="#">直升机玻纤主桨</a></li>
																	<li><a href="#">直升机碳纤尾桨</a></li>
																</ul>
															</li>
															<li><a href="#">动力组合</a></li>
														</ul>
													</li>
											</ul>
									</div>
							</div>
					</div>
					
					
					
					
					<!--秒杀页-->
					
					<div id="spike" class="margin">
							<div class="time">
									<div class="h">00</div>
									<div class="little">:</div>
									<div class="m">00</div>
									<div class="little">:</div>
									<div class="s">00</div>
							</div>
							<div class="thing">
									<p class="meng"></p>
									<!--<div class="list">
										<p class="meng"></p>
											<div class="tp">
													<img src="../dilemei1/images/1/1.jpg">
											</div>
											<div class="xx">
													<div class="mz">Dynam Focke-Wulf Fw 190迪乐美 1.27米泡沫飞机</div>
													<div class="jg">
															<b class="yj">￥40</b>
															<b class="xj">￥26</b>
													</div>
											</div>
											<div class="qiang">点</div>
											<div class="zhe"></div>
									</div>-->
									
									
							</div>
					</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					<!--小广告-->
			
			<div class="smallbanner margin">
					<img src="images/index/gg.jpg">
			</div>
					
					
					
					
					<!--页脚-->
			
			<div id="footer">
					<div class="margin">
						<div class="footer_t">
								<dl>
									<dt><span class="iconfont icon-remai"></span><i>商城热卖</i></dt>
									<dd><a href="#">固定翼</a></dd>
									<dd><a href="#">多旋翼无人机</a></dd>
									<dd><a href="#">电子系统</a></dd>
									<dd><a href="#">无刷马达</a></dd>
									<dd><a href="#">电子调整</a></dd>
									<dd><a href="#">配件组合</a></dd>
								</dl>
								<dl>
									<dt><span class="iconfont icon-iconfontguanyu"></span><i>关于迪乐乐</i></dt>
									<dd><a href="#">关于我们</a></dd>
									<dd><a href="#">新闻中心</a></dd>
									<dd><a href="#">联系我们</a></dd>
								</dl>
								<dl>
									<dt><span class="iconfont icon-lingshou"></span><i>授权零售店</i></dt>
									<dd><a href="#">迪乐乐淘宝旗舰店</a></dd>
									<dd><a href="#">成为授权经销商</a></dd>
								</dl>
								<dl>
									<dt><span class="iconfont icon-1106"></span><i>社区</i></dt>
									<dd><a href="#">祥迷社区</a></dd>
								</dl>
								<dl>
								<dt><span class="iconfont icon-shequ"></span><i>微信订阅号</i></dt>
									<dd><img src="images/index/ma.png"></dd>
								</dl>
						</div>
						<div class="footer_b">
							Copyright © 2009-2016 XX迪乐乐工贸有限公司 版权没有 ICP备11083364号-2
						</div>
					</div>
			</div>
			
			
	</body>
	<script src="libs/jquery.js"></script>
	<script src="module/spike.js"></script>
	</html>
