html,body{height:100%;min-width:1220px;}
.margin {width:1220px;margin:0 auto;}


/*顶部*/

#top{height:40px;background:#99f;color:#fff;font:14px/40px "";}
#top .margin{height:100%;}
#top .margin span{cursor: pointer;margin-right:30px;}
#top .margin .iconfont{font:20px/40px "";color:#fff;}
#top .margin .left{float:left;}
#top .margin .right{float:right;}


/*头部*/

#header{height:140px;border-bottom:2px solid #99f;margin-bottom:2px;position:relative;}
#header .margin{height:100%;}
#header .margin .header_t {height:100px;box-sizing: border-box;padding-top:30px;}
#header .margin .header_m{height:50px;}
#header .margin .header_m_l{height:50px;float:left;}
#header .margin .header_m_l img:nth-child(1){width:120px;height:50px;margin-right:10px;}
#header .margin .header_m_l img:nth-child(2){width:120px;height:30px;vertical-align: top;margin-top:5px;}
#header .margin .header_m_r{height:50px;float:right;}
#header .margin .header_m_r form{overflow:hidden;border:1px solid #99f;height:35px;}
#header .margin .header_m_r form input {float:left;height:100%;border:0;}
#header .margin .header_m_r form input#txt{width:440px;box-sizing: border-box;padding:3px 5px;text-indent: 5px;color:#aaa;}
#header .margin .header_m_r form input#btn{cursor:pointer;width:80px;background:#99f url("../images/index/search.png") no-repeat center;}

#header .margin .header_b{height:40px;position:absolute;bottom:0;z-index:2;}
#header .margin .header_b .menu1{height:24px;width:1000px;font:700 16px/24px "";}
#header .margin .header_b .menu1 a{display: block;}
#header .margin .header_b .menu1>li{float:left;width:120px;text-align:center;}
#header .margin .header_b .menu1>li:hover>a{color:#99f;}
#header .margin .header_b .menu1>li:nth-child(8):hover a{color:#f00;}
#header .margin .header_b .menu1>li:hover .menu2{display:block;}
#header .margin .header_b .menu1>li>.menu2>li:hover{background:#f30;}
#header .margin .header_b .menu1>li>.menu2{text-indent:20px;box-sizing:border-box;display:none;width:200px;background:#fff;font:14px/40px "";margin-top:10px;text-align:left;}
#header .margin .header_b .menu1>li>.menu2>li{height:40px;}
#header .margin .header_b .menu1>li>.menu2>li:hover .menu3{display:block;}
#header .margin .header_b .menu1>li>.menu2>li>.menu3{display:none;width:179px;margin:-40px 0 0 200px;border-left:1px solid #f30;}
#header .margin .header_b .menu1>li>.menu2>li>.menu3>li{background:#fff;}
#header .margin .header_b .menu1>li>.menu2>li>.menu3>li:hover{background: #f30;}






/*购物车*/

#car {width:800px;margin:20px auto;}
#car .cart{height:40px;color:#99f;text-align:center;font:30px/40px "";}
#car .carb{}
#car .carb .cont{height:150px;background:#eef;display:flex;margin-bottom: 10px;box-shadow: 0 1px 2px #333;;}
#car .carb .cont .tu{width:150px;}
#car .carb .cont .tu img{width:150px;height:150px;}
#car .carb .cont .info{width:360px;height:100%;padding:0 20px;}
#car .carb .cont .info .infot{height:90px;font:16px/30px "";color:#333;}
#car .carb .cont .info .infob{height:60px;font:20px/60px "";color:#333;color:#f00;}
#car .carb .cont .num{height:22px;align-self: center;width:140px;}
#car .carb .cont .num  #many{width:100px;height:20px;}
#car .carb .cont .del{width:100px;height:30px;align-self: center;}
#car .carb .cont .del  #del{width:100px;height:30px;}
#car .money {overflow: hidden;text-align:right;margin-top: 20px;}
#car .money  .mbox{height:100px;float:right;padding-right:20px;}
#car .money  .mbox .qian{display:block;height:50px;font:28px/50px "";color:#99f;}
#car .money  .mbox #pay{width:60px;height:30px;border:0;cursor:pointer;height:40px;width:100px;}
#car .money  .mbox .qian b{color:#f00;margin-left:20px;font-size:20px;}













/*页脚*/

#footer{height:200px;position:relative;}
#footer .margin{border-top:1px solid #99f;position:relative;}
#footer .margin .footer_t{overflow: hidden;}
#footer .margin .footer_t dl{float:left;width:230px;}
#footer .margin .footer_t dl dt i{font: 700 14px/40px "";color:#66f;}
#footer .margin .footer_t dl dt span{font-size: 30px;line-height:40px;vertical-align: middle;color:#99f;}
#footer .margin .footer_t dl dd{line-height:18px;text-indent: 20px;}
#footer .margin .footer_t dl dd a{color:#99f;}
#footer .margin .footer_t dl dd a:hover{color:#666;}
#footer .margin .footer_t dl:nth-last-child(1) img{width:130px;height:130px;}
#footer .margin .footer_b{position:absolute;bottom:0;text-align:center;width:1220px;}





/*注册界面*/

#register{display:none;width:100%;height:100%;position:absolute;top:0;background:rgba(153,153,255,.5);z-index:5;}
#register .cont{border-radius:10px;width:500px;height:440px;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;background:#fff;;}
#register .cont .reg{}
#register .cont .reg .reg_t{text-align: center;font:30px/160px "";color:#99f;}
#register .cont .reg form{}
#register .cont .reg form div{text-align: center;}
#register .cont .reg form div b{font:30px/40px "";color:#99f;margin-right:20px;}
#register .cont .reg form div input{text-indent:20px;color:#bbf;height:40px;width:250px;border:none;border-bottom:1px solid #99f;}
#register .cont .reg form .u{}
#register .cont .reg form .p{}
#register .cont .reg form .i{text-align:center;line-height:50px;height:50px;}
#register .cont .reg form .e{width:200px;height:30px;text-align:center;font:14px/30px "";color:#99f;position:absolute;left:0;bottom:100px;right:0;margin:auto;}
#register .cont .reg form .s{position:absolute;bottom:50px;left:0;right:0;margin:auto;}
#register .cont .reg form .s input{background: #99f;border:0;font-size:20px;color:#fff;}
#register .cont .close{position: absolute;right:5px;top:5px;color:#99f;font-size:35px;}
#register .cont .close:hover{color:#f30;}




/*登录界面*/

#login{display:none;width:100%;height:100%;position:absolute;top:0;background:rgba(153,153,255,.5);z-index:5;}
#login .cont{border-radius:10px;width:500px;height:440px;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;background:#fff;;}
#login .cont .log{}
#login .cont .log .log_t{text-align: center;font:30px/160px "";color:#99f;}
#login .cont .log .log_t img{display:block;margin:20px auto 0 auto;;}
#login .cont .log form{}
#login .cont .log form div{text-align: center;}
#login .cont .log form div b{font:30px/40px "";color:#99f;margin-right:20px;}
#login .cont .log form div input{text-indent:20px;color:#bbf;height:40px;width:250px;border:none;border-bottom:1px solid #99f;}
#login .cont .log form .u{}
#login .cont .log form .p{}
#login .cont .log form .i{text-align:center;line-height:50px;height:50px;}
#login .cont .log form .e{width:200px;height:30px;text-align:center;font:14px/30px "";color:#99f;position:absolute;left:0;bottom:100px;right:0;margin:auto;}
#login .cont .log form .s{position:absolute;bottom:50px;left:0;right:0;margin:auto;}
#login .cont .log form .s input{background: #99f;border:0;font-size:20px;color:#fff;}
#login .cont .close{position: absolute;right:5px;top:5px;color:#99f;font-size:35px;}
#login .cont .close:hover{color:#f30;}